body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(image/deathstranding2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: ivory;
    font-size: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
}